In [ ]:
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [ ]:
%%bigquery
-- ハイフンではなく「.（ドット）」で繋ぐのが正解です
SELECT * FROM `bigquery-public-data.samples.natality` LIMIT 10;

UsageError: Cell magic `%%bigquery` not found.

In [ ]:
%%bigquery --project propane-zephyr-478723-n2
SELECT * FROM `bigquery-public-data.samples.natality` LIMIT 10;

/Users/sekiguchiyuma/Documents/GitHub/ML_applications/ML_practices/.venv/lib/python3.11/site-packages/google/cloud/bigquery/job/query.py:2159: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  query_result = wait_for_query(self, progress_bar_type, max_results=max_results)
/Users/sekiguchiyuma/Documents/GitHub/ML_applications/ML_practices/.venv/lib/python3.11/site-packages/google/cloud/bigquery/table.py:2689: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,2005,2005,12,<NA>,4,None,False,<NA>,7.438397,1,...,<NA>,<NA>,99,<NA>,<NA>,<NA>,<NA>,<NA>,26,1
1,2005,2005,11,<NA>,6,None,False,<NA>,7.063611,1,...,False,<NA>,25,0,0,2,1,78,41,1
2,2005,2005,7,<NA>,1,None,False,<NA>,7.312733,1,...,False,<NA>,39,0,0,0,1,18,37,1
3,2005,2005,11,<NA>,1,None,False,<NA>,8.774398,1,...,False,<NA>,30,0,0,0,1,7,28,1
4,2005,2005,6,<NA>,5,None,True,<NA>,7.749249,1,...,False,<NA>,40,0,0,0,1,68,25,1
5,2005,2005,11,<NA>,1,None,False,<NA>,5.125748,2,...,False,<NA>,25,0,0,0,1,4,28,1
6,2005,2005,10,<NA>,2,None,False,<NA>,8.895652,1,...,<NA>,<NA>,99,0,0,0,1,5,39,1
7,2005,2005,7,<NA>,5,None,False,<NA>,7.374463,1,...,False,<NA>,31,0,0,0,1,18,26,1
8,2005,2005,8,<NA>,4,None,True,<NA>,6.311835,1,...,False,<NA>,56,0,0,1,1,4,29,1
9,2005,2005,9,<NA>,1,None,True,<NA>,10.187561,1,...,<NA>,<NA>,99,0,0,0,1,28,24,1

In [ ]:
%%bigquery --project propane-zephyr-478723-n2
SELECT 
    is_male, 
    COUNT(*) as count,
    AVG(weight_pounds) as avg_weight
FROM `bigquery-public-data.samples.natality`
GROUP BY is_male;

/Users/sekiguchiyuma/Documents/GitHub/ML_applications/ML_practices/.venv/lib/python3.11/site-packages/google/cloud/bigquery/job/query.py:2159: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  query_result = wait_for_query(self, progress_bar_type, max_results=max_results)
/Users/sekiguchiyuma/Documents/GitHub/ML_applications/ML_practices/.venv/lib/python3.11/site-packages/google/cloud/bigquery/table.py:2689: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

   is_male     count  avg_weight
0    False  67240885    7.178649
1     True  70585878    7.440254

In [ ]:
%%bigquery --project propane-zephyr-478723-n2
SELECT 
    is_male, 
    COUNT(*) as count,
    AVG(weight_pounds) as avg_weight
FROM `bigquery-public-data.samples.natality`
GROUP BY is_male;

/Users/sekiguchiyuma/Documents/GitHub/ML_applications/ML_practices/.venv/lib/python3.11/site-packages/google/cloud/bigquery/job/query.py:2159: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  query_result = wait_for_query(self, progress_bar_type, max_results=max_results)
/Users/sekiguchiyuma/Documents/GitHub/ML_applications/ML_practices/.venv/lib/python3.11/site-packages/google/cloud/bigquery/table.py:2689: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(